body {
    color: #0F9D58;
    background-color: #000;
}

h1 {
    font-family: 'Nerko One', cursive;
}

#p2-pic {
    height: 100%;
    width: 100%;
}

.bg-light {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#dark-mode a {
    background: #000;
}

.testt {
    font-weight: 800;
    font-size: 36px;
    white-space: nowrap;
    color: #e93c2c;
    font-family: 'Nerko One', cursive;
}

.test1 {
    font-weight: 800;
    font-size: 36px;
    white-space: nowrap;
    color: #4B0082;
    font-family: 'Nerko One', cursive;
}

#title1 {
    text-align: center;
}

.col img {
    height: 100%;
    width: 100%;
}

.col {
    font-weight: 700;
    margin-top: 30px;
}

.col p {
    font-weight: 900;
    color: rgb(255, 251, 0);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    margin: 0;
    /*from*/
    right: 17px;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 600;
    transition-duration: .25s;
    color: #f67600 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
}

.bg-light {
    background-color: #100e17 !important;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-family: 'Nerko One', cursive;
}

.navbar-light .navbar-brand:hover {
    font-weight: 600;
    transition-duration: .25s;
    color: #f67600 !important;
}

.navbar-toggler-icon {
    background: white !important;
    border-radius: 50%;
    color: black;
}

.navbar-toggler-icon {
    text-decoration: none;
    padding-top: 3px;
    border: #4B0082 1px solid;
}

#down-arrow-nav {
    text-decoration: none;
    font-size: 16px;
}

a {
    color: #4B0082 !important;
}

a:hover {
    transition-duration: .25s;
    color: #f86706 !important;
}