h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 3em;
}
#content-text {
    text-align: center;
    text-transform: uppercase;
}
body {
    margin-top: 110px;
    margin-bottom: 120px;
    background-color: #af3ec0c4;
    color: black;

}
#content {
    margin: 0 auto;
    width: 400px;
}
#email {
    text-align: center;
}
#instagram {
    text-align: center;
}
#videos {
    padding-bottom: 15px;
}
#kik {
    text-align: center;
}
#email a {
    color: #1aa260;
    text-decoration: black;
    border: solid 2px;
}
#emailhover {
    color: black;
    transition: ease-in-out 2s;
}
#instagram a {
    color: #1aa260;
    text-decoration: black;
    border: solid 2px;
}
#kik a {
    color: #1aa260;
    text-decoration: black;
    border: solid 2px;
}
#main-title h1 {
    margin: 0;
    padding: 16px;
    text-align: center;
    background-color: #333333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #1aa260;
}
#footer {
    font-family: "Lucida Console", Courier, monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
}

